body {
    overflow-y: hidden;
}

#main-content {
    height: 100vh;
}

#main-spin-button {
    margin-top: 30px;
}

#twitch-embed {
    width: 100%;
    padding-left: 10px;
    padding-right: inherit;
}

#sidebar {
    position: fixed;
    height: 100vh;
    padding-top: 68px;
    padding-right: 0;
}

#welcome-card {
    height: 35vh;
    width: 75%;
    margin: 0 auto;
    top: 100px;
    text-align: center;
}

.center-text {
    text-align: center;
}

.twitch {
    position: relative;
    left: 10px;
    top: 15px;
}

@media only screen and (max-width: 560px) {
    #main-spin-button {
        margin-top: 0;
    }
}